{% extends "base.html" %}

{% block head_title %}Properties || {{ block.super }}{% endblock head_title %}

{% block content %}
<h1> Inn Profile List <small><a href='{% url "profiles:create" %}'>Add New</a></h1>

	<ul>
	{% for obj in object_list %}
			<li><a href='{{ obj.get_absolute_url }}'>{{ obj.itemtype }}</a></br>

				{% if obj.itemdesc %}

				Contents:

				<ul>
					{% for item in obj.get_itemdesc %}
					<li>{{ item }}</li>
					{% endfor %}
				</ul><br/>
				{% endif %}
				{% if obj.itemdesc %}
				Excludes:
				<ul>
					{% for item in obj.get_itemnote %}
					<li>{{ item }}</li>
					{% endfor %}
				</ul>
				{% endif %}
		
		
			</li>
	{% endfor %}
	</ul>

{% endblock %}